@{
    ViewData["Title"] = "Home Page";
}


<body>

    <main>
        <h1><a asp-area="" asp-controller="Pizza" asp-action="Index">Prova le nostre pizze!</a></h1>
        <div class="container"><img src="~/images/istockphoto-638790274-612x612.jpg"/> </div>
 

    
      
</main>

</body>




