@{
    ViewData["Title"] = "Home Page";
}


<body>

    <main>

       
  <h1><a asp-area="" asp-controller="Pizza" asp-action="Index">Prova le nostre pizze!</a></h1>   

    
      
</main>

</body>




